<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <!--<add name="Views.Properties.Settings.sameConnectionString" connectionString="Data Source=localhost;Initial Catalog=same;Integrated Security=True"
            providerName="System.Data.SqlClient" />-->
      <add name="cn" connectionString="Data Source=localhost;Initial Catalog=same;User ID=SaSame; Password=SebaSame123 Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
  
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>